<div class="row">     
    <div class="col-md-12"  class="table-responsive">           
        <h2>Departments</h2>           
        <hr /> 
        <table class="table-responsive" class="table-responsive">
        <thead>
            <tr>
                <th>Department Number</th>
                <th>Department Name</th>
            </tr>
        </thead>
        {{#each departments}}
        <tr>
         <td><a href="/employees?department={{departmentId}}">{{departmentId}}</a></td> 
         <td><a href="/employees?department={{departmentId}}">{{departmentName}}</a></td>       

        </tr>
        {{/each}}
        </table>
    </div> 
    {{#unless departments}}
    <div class="col-md-12 text-center">
    <strong>{{message}}</strong> 
    </div>
    {{/unless}} 
</div> 

